<!DOCTYPE html>

<html>
	<head>
		<title><center><font size="xlarge">ANADYANTA EVENTS</font></center></title>
		<link rel="icon" type="image/x-icon" href="/images/nmit.jpg">
		<link rel="stylesheet" type="text/css" href="/stylesheet/design.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
	<body>
          
               <br><BOLD>ANADYANTA EVENTS</BOLD></br>
                <img class="pos"src="/images/nmit.jpg" style="width: 30%" style="height:30%">
                <br><bold>ABOUT US</bold></br>
                 <p>
                     An inter collegiate annual techno cultural fest started in the year 2004 has attracted the attention of many colleges. Anaadyanta '11 was inaugurated by the chief guest Mr. Shashidhara Kote,Kannada classical and Janapada song singer . The number of colleges and the number of students participating in this event are increasing year after year. This techno cultural festival includes a variety of items like Fashion show, Dance, music, debate, Quiz, sports events, essay writing, Badboyz Toys,Battle of Bands, Cad/Cam, Collage, Computer Gaming, Dumb Charade,Fox hunt,Matarazzi,Mehendi Design, Rangoli, madads,Yakshagana etc. Mr. Sri Murali, kannada cine star was the chief guest for the valedictory function.
                 </p>
                  <img class="pos"src="/images/contact_us.jpg" style="width: 30%" style="height:30%">
		<div class="navbar">
			<ul>
			<li style="padding-left: 250px"><a href="/register"><align="left">REGISTER</align></li>
			<li><a href="/2"><align="left">GALLERY</align></a></li>
			<li><a href="/events"><align="left">EVENTS</align></a>
			</li>
			<li><a href="/about"><align="left"><br>PARTICIPANTS </br></align></a>
			</li>
			</ul>
		</div>
		<div id="iconsfit" >
			<ul >
				<li style="padding-left: 250px"><a class="btn"href="https://https://instagram.com/Sportskeeda/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				
			</ul>
		</div>
		
	</body>
</html>