<!DOCTYPE html>

<html>
	<head>
		<title>	ANADYANTA EVENTS</title>
		<link rel="icon" type="image/x-icon" href="/images/nmit.jpg">
		<link rel="stylesheet" type="text/css" href="/stylesheet/design.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		
		<div id="iconsfit" >
			<ul >

				<li style="padding-left: 250px"><a class="btn"href="https://www.instagram.com/anaadyanta/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ui>
				
		</div>

		<div class="card">
  			<img src="/images/20.jpg" alt="ay2020" style="height: 25%">
  			<div class="container">
    			<h4 style="color: red"><b>GROUP DANCE</b></h4>
    			<p style="color: red">Contact: Shereen-1234567890</p>
                        <p style="color: red">FACULTY INCHARGE : Mohan Kumar.T.G</p>
  			</div>
		</div>

		<div class="card">
  			<img src="/images/22.jpg" alt="ay2020" style="height: 25%">
  			<div class="container">
    			<h4 style="color: red"><b> SOLO DANCE</b></h4>
    			<p style="color: red">Contact: Shravani V.U-96579053435</p>
                        <p style="color: red">FACULTY INCHARGE : Madhu.N</p>
  			</div>
		</div>
                <div class="card">
  			<img src="/images/fashion2.jpg" alt="ay2020" style="height: 25%">
  			<div class="container">
    			<h4 style="color: red">FASHION SHOW<b></b></h4>
    			<p style="color: red">Contact:Aishwarya-78787878 </p>
                        <p style="color: red">FACULTY INCHARGE : Dr Manoj Kumar</p>
  			</div>
		</div>
                 <div class="card">
     			<img src="/images/9.jpg" alt="ay2020" style="height: 20%">
  			<div class="container">
    			<h4 style="color: red"><b>BUG ME NOT</b></h4>
    			<p style="color: red">Contact: Aditya-8553421783</p>
                        <p style="color: red">FACULTY INCHARGE : Prashant.B.S</p>
  			</div>
		</div>

		<div class="card">
  			<img src="/images/8.jpg" alt="ay2020" style="height: 20%">
  			<div class="container">
    			<h4 style="color: red" style="font-family: system-ui"><b>CODING AUCTION</b></h4>
    			<p style="color: red">Contact: Tejas-943553534</p>
                        <p style="color: red">FACULTY INCHARGE : Dr Swarnalatha.K.S</p>
  			</div>
		</div>
                <div class="card">
  			<img src="/images/1.jpg" alt="ay2020" style="height: 20%">
  			<div class="container">
    			<h4 style="color: red" style="font-family: system-ui"><b>ROBO WARS</b></h4>
    			<p style="color: red">Contact: virat-743553534</p>
                        <p style="color: red">FACULTY INCHARGE : Dr Aditya Shastri</p>
  			</div>
		</div>
              <div class="card">
  			<img src="/images/3.jpg" alt="ay2020" style="height: 20%">
  			<div class="container">
    			<h4 style="color: red" style="font-family: system-ui"><b>ASTRO HUNT</b></h4>
    			<p style="color: red">Contact: vineeth-653553534</p>
                        <p style="color: red">FACULTY INCHARGE : Dr Swarnalatha.K.S</p>
  			</div>
		</div>
               <div class="card">
  			<img src="/images/2.jpg" alt="ay2020" style="height: 20%">
  			<div class="container">
    			<h4 style="color: red" style="font-family: system-ui"><b>FULL THROTOLE</b></h4>
    			<p style="color: red">Contact: Yaser-873553534</p>
                        <p style="color: red">FACULTY INCHARGE : Prashanth.B.s</p>
  			</div>
		</div>
               <div class="card" style>
  			<img src="/images/17.jpg" alt="ay2020" style="height: 30%">
  			<div class="container">
    			<h4 style="color: red" style="font-family: system-ui"><b>MINI SOCCER</b></h4>
    			<p style="color: red">Contact: Aditya-7753553534</p>
                        <p style="color: red">FACULTY INCHARGE : Dr Vidhya Devi</p>
  			</div>
		</div>
                <div class="card">
  			<img src="/images/ao.jpg" alt="ay2020" style="height: 30%">
  			<div class="container">
    			<h4 style="color: red" style="font-family: system-ui"><b>CRICKET(Entry Limited to 32 teams)</b></h4>
    			<p style="color: red">Contact: Yash-993553534</p>
                        <p style="color: red">FACULTY INCHARGE : Dr Srinivas.D.B</p>
  			</div>
		</div>
                <div class="card">
  			<img src="/images/13.jpg" alt="ay2020" style="height: 30%">
  			<div class="container">
    			<h4 style="color: red" style="font-family: system-ui"><b>BADMITION</b></h4>
    			<p style="color: red">Contact: Allen-7689743232</p>
                        <p style="color: red">FACULTY INCHARGE : Mohan Kumar.T.G</p>
  			</div>
		</div>
  <div class="navbar">
			<ul>
			<li><h1 style="color: gold">AY 2020</h1>></li>
			<li style="padding-left: 250px"><a href="/register">REGISTERATION</li>
			<li><a href="/2">GALLERY</a></li>
			<li><a href="/events" style="color: red">EVENTS</a>
			</li>
			<li><a href="/about">PARTICIPANTS</a>
			</li>
			</ul>
		</div>


	</body>
</html>