<!DOCTYPE html>

<html>
	<head>
		<title>ANADYANTA EVENTS</title>
		<link rel="icon" type="image/x-icon" href="/images/nmit.jpg">
		<link rel="stylesheet" type="text/css" href="/stylesheet/design.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
	<body>
		</div>
		<div id="iconsfit" >
			<ul >
				<li style="padding-left: 250px"><a class="btn"href="https:https://instagram.com/Sportskeeda/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
		</div>

		<br>

		<form style="padding: 150px" action="/participants" method="POST">
			<label style="color: red">FirstName:
				<input type="text" name="fname"></label>
			<label style="color: red">LastName:
				<input type="text" name="lname"></label>
			<br>
			<label style="color: red">EMAIL:
				<input type="text" name="email"></label>
			<br>
			<label style="color: red">College:
				<input type="text" name="clg"></label>
			<br>
			<select name="cultural event">
				<option>GROUP DANACE</option>
				<option>SOLO DANCE</option>
				<option>SOLO SINGING</option>
                                <option>GROUP SINGING</option>
                               
			</select>
                        <select name="cultural event">
				<option>BUG ME NOT</option>
				<option>ROBO WARS</option>
				<option>COING AUCTION</option>
                                <option>ASTRO HUNT</option>
                                <option>FULL THROTLE</option>
			</select>
                                <select nameme="Sports events">
				<option>MINI SOCCER</option>
				<option>CRICKET</option>
				<option>BADMITION</option>
			</select>

			<br>
			<button>submit</button>
		</form>
      
		<div class="navbar">
			<ul>
			<li><h1 style="color: gold">AY 2020</h1>></li>
			<li style="padding-left: 250px"><a href="/register" style="color: white">REGISTRATION</li>
			<li><a href="/2">GALLERY</a></li>
			<li><a href="/events"> EVENTS</a>
			</li>
			<li><a href="/about"> PARTICIPENTS</a>
			</li>
			</ul>
	</body>
</html>