<!DOCTYPE html>

<html>
	<head>
		<title>ANADYANTA EVENTS</title>
		<link rel="icon" type="image/x-icon" href="/images/nmit.jpg">
		<link rel="stylesheet" type="text/css" href="/stylesheet/design.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
	<body>
		<div class="navbar">
			<ul>
			<li><h1 style="color: gold">AY 2020</h1>></li>
			<li style="padding-left: 250px"><a href="/register"><align="left">REGISTER</align></li>
			<li><a href="/gallery"><align="left"><br>GALLERY</br></align></a></li>
			<li><a href="/events"><align="left"><br>LIST OF EVENTS</br></align></a>
			</li>
			<li><a href="/about"><align="left"><br>LIST OF PARTICIPANTS</br></align></a>
			</li>
			</ul>
		</div>
		<div id="iconsfit" >
			<ul >
				<li style="padding-left: 250px"><a class="btn"href="https://https://instagram.com/Sportskeeda/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				
			</ul>
		</div>
		<img class="pos"src="/images/nmit.jpg" style="width: 30%" style="height:30%">
	</body>
</html>